prefer-offline=true
shamefully-hoist=true

# Garante que apenas as dependências que realmente precisam de build irão rodar scripts
only-built-dependencies=@prisma/client @prisma/engines esbuild prisma

# Evita erros estranhos no deploy e resolução de pacotes
public-hoist-pattern=*
